.sidebartoggle{
    margin-top: 50px;
    width:80px; 
     background: white;
     color: black;
     transition: all 0.3s;
     
}

#btnname{
    font-size: 10px;
 margin-left: auto;
 margin-right: 60px;
}
.togglemenu{
    margin-top: 50px;
}
    .menu-title2{
        visibility: hidden;

  background-color:white;
  color: black;
  transition: width .3s;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;

  font-size: .870rem;  
  font-weight:400;
top: 13px;
background-color: white ;

    }
  
    .sidebarcontent2{
        position: relative;
        
       
    }
    .sidebarcontent2:hover .menu-title2  {
        width: 80px;
        box-shadow: 0 0 8px #F4F6F7 ;
        visibility: visible;
        position: absolute;
        -webkit-animation-name: fadeInLeft;
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: .3s;
        -moz-animation-duration: .3s;
        -o-animation-duration: .3s;
        animation-duration: .3s;
        -o-animation-duration:.3s; 
      }
    
    .sidebartoggle ul li a {
        text-align: left;
    }
    
    .sidebartoggle.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }
    
    .sidebartoggle.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    
    .sidebartoggle.active ul ul a {
        padding: 10px !important;
    }
    .sidebartoggle .sidebar-header {
        padding: 20px;
        background: white;
    }
    
    .sidebartoggle .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }
    
    .sidebartoggle ul.components {
      margin-top: 40px;
        border-bottom: 1px solid white;
    }
    .sidebartoggle ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    .sidebartoggle ul li a i {
        margin-right: 10px;
    }
    .icons2{
        text-align: center;
        display: none;
        flex-direction: column;
        margin-left: 0px;
    }
    @media (max-width: 768px) {
       .scrollbar{
           display: none;
       }
    }